.timeInput{
    display: flex;
    vertical-align: middle;
    padding: 10px 20px;
}
.timeInput select{
    flex: 1;
    border: none;
}
input[type="datetime-local"]:before{
    content:attr(placeholder);
}

