.addArea{
    padding-top: 0.5rem;

}
.addArea textarea{
    width: 100%;
    height: 6rem;
    text-indent: 2em;
    border: none;
    outline: none;
}
.pics_button{
    background-color: #f7f7f7;
    text-align: center;
    height: 6rem;
    width: 6rem;
    position: relative;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.pics_button .camara{
    /*margin: 1rem;*/
    height: 4rem;
    line-height: 4rem;
    width: 6rem;
    text-align: center;
    color:#e1e1e1;
}
.pics_button .hint{
    width: 6rem;
    height: 2rem;
    color: #e1e1e1;
}
.icon_camara{
    font-size: 2rem;
    margin:1rem 0;
}
.picInput{
    position: absolute;
    left: 0;
    top:0;
    height: 6rem;
    width: 6rem;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    /*z-index: -100;*/
    /*visibility: hidden;*/
    opacity: 0;
}
.selectPics{
    display: flex;
    overflow: auto;
    flex-wrap:wrap;
}

.createImgDiv{
    width: 6rem;
    height: 6rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    position: relative;
}
.createImgDiv img{
    width: 100%;
    height: 100%;
}
.cancelButton{
    width: 0.5rem;
    height: 0.5rem;
    background: url(../pic/cancel.png) center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}