
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503554432401'); /* IE9*/
  src: url('iconfont.eot?t=1503554432401#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.ttf?t=1503554432401') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  margin-top: 10px;
  font-family:"iconfont" !important;
  font-size:40px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before { content: "\e603"; }

