*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.topPic{
    /*height: 20%;*/
}
.topPic img{
    width: 100%;
    height: 100%;
}
.note{
    width: 80%;
    margin: 10% 10% 0;
    text-align: center;
    background-color: #fdc510;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    color: #764e2a;
}

.list{
    margin-top: 1rem;
}
.list .item{
    padding: 5px 0;
    margin: 0 5%;
    display: flex;
    align-items:center;
}
.list .item .left{
    flex: 1;
}
.list .item .left .top{
    font-size: 1.1rem;
    color: #373737;
}
.list .item .left .down{
    font-size: 0.8rem;
    color: #b5b6b8;
}
.list .item .right{
    color: #fb6154;
    flex: 1;
    text-align: right;
    font-size: 1.2rem;
}