<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>圈子</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <link href="css/iconfont.css" rel="stylesheet" type="text/css">
    <link href="css/circle.css" rel="stylesheet" type="text/css">
    <script src="js/vue.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
</head>
<body>

<div class="topbar">
    <a class="left" href="index.html">
        <!--<i class="iconfont">&#xe620;</i>-->
    </a>
    <div class="center">圈子</div>
    <a class="right" href="circle_add.html">
        <i class="iconfont">&#xe61f;</i>
    </a>
</div>
<div class="topbar_null"></div>
<div class="content" id="content">
    <div class="item" v-for="todo in jsondata">
        <div class="item_topnull"></div>
        <div class="userInfo">
            <div class="avator">
                <img src="pic/avator.jpg">
            </div>
            <div class="nameTime">
                <div class="topline">{{todo.name}}</div>
                <div class="downline">昨天 2017-15-02</div>
            </div>
        </div>
        <div class="shuoshuoText">{{todo.shuoshuo}}</div>
        <div class="shuoshuo_pics">
            <div class="imgdiv" v-for="pic in todo.pic">
                <img :src="pic">
            </div>
        </div>
    </div>

    <div class="menu_hold"></div>
</div>

<div class="menu">
    <a class="item" href="index.html">
        <i class="iconfont downMenu">&#xe610;</i>
        <div >习惯</div>
    </a>
    <div class="item">
        <i class="iconfont downMenu">&#xe618;</i>
        <div>报表</div>
    </div>
    <div class="item selected">
        <i class="iconfont downMenu">&#xe626;</i>
        <div>圈子</div>
    </div>
</div>

<script>
    var circleData;

    $.ajax({
        url:"http://localhost/proxy/sunq/moningNight/app/circle.php",
        type:"post",
        data:{
            name:"孙权",
        },
        success:function (ret) {
            circleData = JSON.parse(ret);

            for(var i=0;i<circleData.jsondata.length;i++){
                circleData.jsondata[i].pic = JSON.parse(circleData.jsondata[i].pic);
                for(var a=0;a<circleData.jsondata[i].pic.length;a++){
                    circleData.jsondata[i].pic[a] = "http://localhost/proxy/sunq/moningNight/"+circleData.jsondata[i].pic[a];
                }
            }

//            console.log(circleData.jsondata[]);
//            var json = JSON.parse(circleData.jsondata[1].pic);
//            console.log(json);
            console.log(typeof json);
            var vm = new Vue({
                el: '#content',
                data: circleData
            });
        }
    });
</script>
</body>
</html>